# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# Ignore images in public image directories, keeping folder structure
/public/Event images/*
!/public/Event images/.gitkeep

/public/Gallery images/*
!/public/Gallery images/.gitkeep

/public/Team images/*
!/public/Team images/.gitkeep

# Editor directories and files
.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
